<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  	<% n = 1 %>
  	<% max = @event.event_photos.count %>
    <% while n < max do %> 
      <li data-target="#myCarousel" data-slide-to=<%= n %>></li>
      <% n += 1 %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="object-fit: cover">
  	<% count = 0 %>
  	<% @event.event_photos.to_a.each do |img| %>
	    <div class="<%= count == 0 ? "item active" : "item" %>" height="400">
	      <%= image_tag(img.url) if img.present? %>
	      <% count += 1 %>
	    </div>
  	<% end %>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>