
<header
id="top" class="business-header">
</header>

<div class="container">
  <div class="row">
  	<div class="col-md-6">
			<%= render 'form', event: @event, url: events_path, html: { method: :post } %>
		</div>

		<div class="col-lg-6">
		  <div>
		    <div class="panel panel-default">
		      <div class="panel-body text-center">
		        <section id="contact" class="map">
		          <iframe width="100%" height="100%" align="top" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
		          <br />
		          <small>
		          <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
		          </small>
		        </section>
		      </div>
		      <script src="js/jquery.js"></script>
		      <!-- Bootstrap Core JavaScript -->
		      <script src="js/bootstrap.min.js"></script>
		      <!-- Script to Activate the Carousel -->
		      <script>
		        $('.carousel').carousel({
		          interval: 5000 //changes the speed
		        })
		        
		        // Disable Google Maps scrolling
		        // See http://stackoverflow.com/a/25904582/1607849
		        // Disable scroll zooming and bind back the click event
		        
		        var onMapMouseleaveHandler = function(event) {
		          var that = $(this);
		          that.on('click', onMapClickHandler);
		          that.off('mouseleave', onMapMouseleaveHandler);
		          that.find('iframe').css("pointer-events", "none");
		        }
		        
		        var onMapClickHandler = function(event) {
		          var that = $(this);
		          // Disable the click handler until the user leaves the map area
		          that.off('click', onMapClickHandler);
		          // Enable scrolling zoom
		          that.find('iframe').css("pointer-events", "auto");
		          // Handle the mouse leave event
		          that.on('mouseleave', onMapMouseleaveHandler);
		        }
		        
		        // Enable map zooming with mouse scroll when the user clicks the map
		        $('.map').on('click', onMapClickHandler);
		      </script>
		    </div>
		  </div>
		</div>
	</div>
</div>


<%= link_to 'Back', events_path %>
