<h1>Editing Organisation Profile</h1>

<%= render 'form', organisation_profile: @organisation_profile %>

<%= link_to 'Show', @organisation_profile %> |
<%= link_to 'Back', organisation_profiles_path %>
