<%= render partial:"static/carousel" %>

<div class="container" style="padding-top: 50px; padding-bottom: 30px;"></br>
	<h2>About Us</h2>
	<p>We believe everyone should have the chance to make a difference. That's why we make it easy for good people and good causes to connect. We've connected millions of people with a great place to volunteer and helped tens of thousands of organizations better leverage volunteers to create real impact.</p>
	<p>We also offer corporate social responsibilty solutions. Helping your business and employees take part in helping the needs of the many.</p>
	
	</br>     
	 
	</br>               
	<h2>Corporate Social Responsibility</h2>

	<br>

	<p>Bantu Boleh provides a Corporate Social Responsibility service that connects companies with charitable organisations. Corporate Volunteering is where we organise volunteering projects for your corporate employees to be involved in!</p>

	<br>

	<p>We know that businesses across Malaysia want to help achieve the common good. Their are many different volunteer programs. Some allow staff to volunteer in their own time one or two times per year. Others organise events to allow organised teams to work on community based projects. This presents a myriad of opportunities for non-profit organisations to get the help they need.</p>

	<br>

	<p>The advantages for businesses who support staff volunteering in the community over traditional community investments such as cash donations, donations in kind, or donations of equipment, include:</p>

	<br>

	<ul>
	<li>Team Building</li>
	<li>Developing skills and experience (eg leadership, communication, project management)</li>
	<li>A sense of giving back to the community</li>
	<li>An understanding of community needs</li>
	<li>Visibility</li>
	<li>Corporate volunteering can address:</li>
	</ul>

	<br>

	<ul>
	<li>The Skills Shortage - sharing expertise</li>
	<li>Health System Overload - by keeping people mentally and physically active, connected with community and exposed to new experiences</li>
	<li>Provide a Pathway to Jobs - job experience and CV</li>
	<li>Phased Retirement - a way of retaining key staff nearing retirement by allowing them to engage in a volunteering activity they want to pursue one or two days a week</li>
	<li>Winding Down - creating networks outside of the workplace.</li>
	</ul>

	<br>

	<p>For more information, contact by email at bob@bantuboleh.com.</p>
</div>