
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    display: block;
    padding-top: 0;
    margin-left: 5%;
    margin-right: 5%;
}
$bgDefault: #e74c3c;
$bgHighlight: #c0392b;
$colDefault: #ecf0f1;
$colHighlight: #ffbbbc;

.navbar {
    background-color: #bdd3ff;

    .navbar-brand {
        font-family: 'Oleo Script', cursive;
        font-weight: 700;
        color: navy;
        margin-left: 150px;
        padding-top: 15px;
        background-color: #bdd3ff;
        font-size: 30px;
    }
}
.navbar-nav {
    font-size: 15px;
    > li {
        > a {
            color: black;
            &:hover, &:focus {
                color: $colHighlight;
            }
        }
    }
    > .active {
        > a, > a:hover, > a:focus {
            color: $colHighlight;
        }
    }
    > .open {
        > a, > a:hover, > a:focus {
            color: $colHighlight;
        }
    }
}
.navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
    }
    .icon-bar {
    }
}
.navbar-collapse,
.navbar-form {
    border-color: $colDefault;
}
.navbar-link {
    color: $colDefault;
}

header.carousel {
height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#map {
    height: 500px;
}

@media(max-width:768px) {
    #map {
        height: 75%;
    }
}

#map iframe {
    pointer-events: none;
}


#top {
	width: 100%;
	height: 200px;
}
.header {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../assets/michelangelo-71282.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header h2 {
	vertical-align: -50px;
}

.carousel-inner {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    margin: auto;
}


.carousel-inner > .item > .fill > img {
    width: 100%;
    height: 400px;
    margin: auto;
    overflow: hidden;
}

.panel-login {
   border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d ;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b ;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0 ;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6 ;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD ;
    border-color: #53A3CD ;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E ;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A ;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347 ;
    border-color: #1CA347 ;
}

.glyphicon-search {
    color: white;
}

.glyphicon-plus {
    color:red;
}

.gold {
    color: gold;
}

.profile-header {
    display: flex;
    align-items: center;
    .profile-name {
        margin-left: 50px;
    }
}