// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#modal-dialog {
	width: 90%;
	padding: 5px;

}

#new_comment {
	width: 90%;
	padding: 10px;
}
