// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
	height: 350px;
	width: 200px;
	display: inline-block;
}

.events-open {
	height: 400px;
	width: 500px;
	display: inline-block;
}

.carousel-inner img {
    max-width: 100%;
    height: 400px;
    margin: auto;
    overflow: hidden;
}

.modal-content {
	display: block;
	height: auto;
	width: 600px;
	overflow: visible;
	vertical-align: middle
}