// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
	height: 350px;
	width: 200px;
	display: inline-block;
}

.events-open {
	height: 400px;
	width: 500px;
	display: inline-block;
}

.carousel-inner img {
    max-width: 100%;
    height: 400px;
    margin: auto;
    overflow: hidden;
}

.modal-content {
	display: block;
	height: auto;
	width: 600px;
	overflow: visible;
	box-shadow: 0 0 30px black;
	vertical-align: middle
}

#well {
  
  background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url('../assets/help-1265227_640.jpg');
   -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow:auto;
  object-fit: cover;
}

.h1 {
	margin-left: 15px;
	margin-top: -20px;
  margin-bottom: 20px;
}

//